<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Effort Estimation Tool</h1>
        <nav class="mt-3">
            <h2>Please use the below link to create your account</h2>
            <a class="btn btn-primary mr-2" href="{{ url_for('register') }}">Register</a>
            <h2>Please use the below link to access your account</h2>
            <a class="btn btn-primary mr-2" href="{{ url_for('login') }}">Login</a>
        </nav>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
